{{#partial "title"}}
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<script src="js/modernizr.custom.js"></script>
    
<title>{{satellite.name}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
   	<div class="container">
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>4/11/13</span><span>12:04</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #1</h2>
							<div class="ui list">
  								<div class="item">Introducción a la materia</div>
  								<div class="item">Metodología de Sistemas</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>4/11/13</span> <span>12:04</span></time>
						<div class="cbp_tmicon cbp_tmicon-screen"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #2</h2>
							<div class="ui list">
  								<div class="item">Modelado de procesos</div>
  								<div class="item">Tecnicas de documentación de información</div>
  								<div class="item">DC - DFD - LE</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>4/13/13</span> <span>05:36</span></time>
						<div class="cbp_tmicon cbp_tmicon-mail"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #3</h2>
							<div class="item">Modelado de procesos</div>
  								<div class="item">Tecnicas de documentación de información</div>
  								<div class="item">DD: Diccionario de datos</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>4/15/13</span> <span>13:15</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #4</h2>
							<div class="ui list">
  								<div class="item">Modelado de procesos</div>
  								<div class="item">Tecnicas de documentación de información</div>
  								<div class="item">DC - DFD - LE (Continuación)</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>4/16/13</span> <span>21:30</span></time>
						<div class="cbp_tmicon cbp_tmicon-earth"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #5</h2>
							<div class="ui list">
  								<div class="item">Modelado de procesos</div>
  								<div class="item">Tecnicas de documentación de información</div>
  								<div class="item">Definicion de procesos</div>
  								<div class="item">Introducción a tablas de decisión y lenguaje estructurado</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>4/17/13</span> <span>12:11</span></time>
						<div class="cbp_tmicon cbp_tmicon-screen"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #6</h2>
							<div class="ui list">
  								<div class="item">Definicion de procesos</div>
  								<div class="item">Tablas de decisión</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #7</h2>
							<div class="ui list">
  								<div class="item">Definicion de procesos</div>
  								<div class="item">Tablas de decisión (Continuación)</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #8</h2>
							<div class="ui list">
  								<div class="item">Ciclos de vida</div>
  								<div class="item">Metodología de Sistemas Software</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #9</h2>
							<div class="ui list">
  								<div class="item">Requisitos de software</div>
  								<div class="item">Diferencias entre requisitos funcionales y no funcionales</div>
  								<div class="item">Especificación</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #10</h2>
							<div class="ui list">
  								<div class="item">Clase de consulta</div>
  								<div class="item">Clase de integración de conceptos previos al parcial</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #11</h2>
							<div class="ui list">
  								<div class="item">FERIADO</div>
  								<div class="item">Día de la Revolución de MAYO</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #12</h2>
							<div class="ui big list">
  								<div class="item">Primer parcial</div>
  								<div class="item">Metodologías</div>
  								<div class="item">Modelado de procesos: DC - DFD - LE - DD</div>
  								<div class="item">Definición de procesos: Tablas de decisión - Lenguaje estructurado</div>
  								<div class="item">Ciclos de vida - Requisitos de software</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #13</h2>
							<div class="ui list">
  								<div class="item">Entrega de notas</div>
  								<div class="item">Presentación TP Cuatrimestral - Parte 1</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #14</h2>
							<div class="ui list">
  								<div class="item">Presentación TP Cuatrimestral - Parte 2</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div id="parcial" class="cbp_tmlabel">
							<h2>Clase #15</h2>
							<div class="ui big list">
  								<div class="item">Primer Recuperatorio Primer Parcial</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #16</h2>
							<div class="ui list">
  								<div class="item">Entrega de notas</div>
							</div>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel">
							<h2>Clase #16</h2>
							<div class="ui big list">
  								<div class="item">Segundo Recuperatorio Primer Parcial</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
</div>
<script>
</script>
{{/partial}}

{{> layout.hbs}}
