{{#partial "title"}}
	<title>Analisis de Sistemas</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
	<div class="ui grid">
  		<div class="eight wide column">
  			<div class="ui piled segment">
				<h2 class="ui right floated header">Temas</h2>
        		<div class="ui clearing divider"></div>
				<div>
					<canvas id="canvas3" style= "display: block; margin: 0 auto;" height="264" width="260"></canvas>
				</div>
  			</div>
  		</div>
  		<div class="eight wide column">
  			<div class="ui piled segment">
				<h2 class="ui right floated header">Trabajos prácticos</h2>
        		<div class="ui clearing divider"></div>
	  			<div style="width:100%">
					<div>
						<canvas id="canvas2" ></canvas>
					</div>
				</div>
  			</div>
  		</div>
  		<div class="sixteen wide column">
  		<div class="ui piled segment">
				<h2 class="ui right floated header">Parciales</h2>
        		<div class="ui clearing divider"></div>
	  			<div style="width=100%">
					<div>
						<canvas id="canvas"></canvas>
					</div>
				</div>
  			</div>
  			
  		</div>
	</div>
</div>
	<script>
		var randomScalingFactor = function(){
			 return Math.round(Math.random()*100)
		};
		
		var lineChartData = {
			labels : ["Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre"],
			datasets : [
				{
					label: "My First dataset",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				},
				{
					label: "My Second dataset",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				}
			]
		}
		
		var pieData = [
				{
					value: 300,
					color:"#F7464A",
					highlight: "#FF5A5E",
					label: "Red"
				},
				{
					value: 50,
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "Green"
				},
				{
					value: 100,
					color: "#FDB45C",
					highlight: "#FFC870",
					label: "Yellow"
				},
				{
					value: 40,
					color: "#949FB1",
					highlight: "#A8B3C5",
					label: "Grey"
				},
				{
					value: 120,
					color: "#4D5360",
					highlight: "#616774",
					label: "Dark Grey"
				}
			];
	
		var barChartData = {
		labels : ["Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre"],
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
			},
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,0.8)",
				highlightFill : "rgba(151,187,205,0.75)",
				highlightStroke : "rgba(151,187,205,1)",
				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
			}
		]
	}

	window.onload = function(){
		var lineChart = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(lineChart).Line(lineChartData, {
			responsive: true
		});
		
		var barChart = document.getElementById("canvas2").getContext("2d");
		window.myLine = new Chart(barChart).Bar(barChartData, {
			responsive: true
		});
		
		var pieChart = document.getElementById("canvas3").getContext("2d");
				window.myPie = new Chart(pieChart).Pie(pieData);
	}
	</script>
{{/partial}}
{{> layout.hbs}}
