{{#partial "title"}}
<title></title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
	<div class="ui center aligned inverted segment">
        <form class="ui form" method="GET" action="/consulta">
            <div class="inline fields">
                <div class="twelve wide field">
                    <input placeholder="Nombre del grupo" type="text" name="grupo">
                </div>
                <div class="two wide field">
                	<div id="search-button" class="ui teal labeled icon button">
						Buscar grupo
    					<i class="search icon"></i>
  					</div>
                </div>
                <div class="two wide field">
                	<div id="add-button" class="ui teal labeled icon button">
						Agregar grupo
    					<i class="add icon"></i>
  					</div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui inverted segment">
    	<div class="ui four column cards">
    	{{#each groups}}
    	<div class="card">
  			<div class="ui image">
    			<img src={{this.url}}>
  			</div>
  			<div class="content">
    			<a class="header">{{this.nombre}}</a>
    			<div class="meta">
      				<span class="date">Create in Sep 2014</span>
	    		</div>
  			</div>
  			<div class="extra content">
    			<a>
      			<i class="users icon"></i>
      			{{this.cantidad}} miembros
    			</a>
  			</div>
		</div>
		{{/each}}
    </div>
    </div>
</div>

<div class="ui modal">
    <div class="header">Nuevo grupo</div>
    <div class="content">
        <form class="ui large form" method="POST" action="/groups/new">
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Nombre del grupo">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="info icon"></i>
                        <input type="text" name="group-number" value={{next}}>
                    </div>
                </div>
                <input type="submit" class="ui fluid large teal submit button" value="Nuevo">
            </div>
        </form>
    </div>
</div>
<script>

	$(document).ready(function(){
	
        $("#add-button").click(function(){
        	$('.ui.modal').modal('show');
        });
 	
 	    $('.ui.accordion').accordion();
	});

</script>
{{/partial}}

{{> layout.hbs}}