<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/menu.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/label.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/card.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/label.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/item.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/statistic.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/loader.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/progress.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/modal.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/dimmer.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/accordion.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/checkbox.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/reveal.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="slick/slick.js"></script>
    <script src="js/chartjs/Chart.js"></script>
    <script src="semantic/dist/components/dropdown.js"></script>
    <script src="semantic/dist/components/accordion.js"></script>
    <script src="semantic/dist/components/progress.js"></script>
    <script src="semantic/dist/components/transition.js"></script>
    <script src="semantic/dist/components/dimmer.js"></script>
    <script src="semantic/dist/components/checkbox.js"></script>
    <script src="semantic/dist/components/modal.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQfWyCbKGfp0998G9lVP3XoxbE94EZt-s">
    </script>
    {{#block "title"}}
    {{/block}}
</head>
<body>
<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img src="img/logo.png" class="spaced image">
			&nbsp;&nbsp;&nbsp;CManager
        </a>
        <div class="ui header dropdown item right floated">
            {{user.nombre}}<i class="dropdown icon"></i>
			<div class="header">{{user.role}}</div>
            <div class="menu">
                <a class="item" href="/calendario">
                    <i class="calendar icon"></i>
                    Calendario
                </a>
                <a class="item" href="/alumnos">
                    <i class="student icon"></i>
                    Alumnos
                </a>
                <a class="item" href="/grupos">
                    <i class="users icon"></i>
                    Grupos
                </a>
				<a class="item" href="/trabajos">
                    <i class="book icon"></i>
                    TP's
                </a>
				<a class="item" href="/notas">
                    <i class="legal icon"></i>
                    Calificaciones
                </a>                                                
                <a class="item" href="/estadisticas">
                    <i class="line chart icon"></i>
                    Estadisticas
                </a>
                <div class="divider"></div>
				<a class="item" href="/exit">
                    <i class="sign out icon"></i>
                    Cerrar sesión
                </a>
            </div>
        </div>
    </div>
</div>
{{#block "content"}}
{{/block}}
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <img src="../img/logo.png" class="ui centered mini image">

        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="/">CManager - UTN FRBA</a>
            <a class="item">Copyright All rights reserved</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('.slick').slick({
            slidesToShow: 4,
            dots: true,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
        });
    });
</script>
</body>
</html>

