{{#partial "title"}}
<title>{{satellite.name}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
    <div class="ui center aligned inverted segment">
        <h2 class="ui right floated header">Student #</h2>
        <div>{{student.name}}</div>
        <div>{{student.mail}}</div>
        <div>{{student.number}}</div>
        <div>{{student.password}}</div>
    </div>
</div>
<script>
</script>
{{/partial}}

{{> layout-2ndlevel.hbs}}