{{#partial "title"}}
<title>{{satellite.name}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
    <div class="ui center aligned inverted segment">
        <h2 class="ui right floated header">Calificaciones</h2>
        <table class="ui center aligned celled structured table">
            <thead>
	        	<tr>
    	            <th colspan="1">#</th>
        	        <th colspan="1">Nombre grupo</th>
            	    <th colspan="1">Cantidad</th>
                	<th rowspan="1">Desempeño</th>
            	</tr>
            </thead>
            <tbody>
            	{{#each groups}}
	            <tr>
    	            <td>{{this.number}}</td>
        	        <td>{{this.name}}</td>
        	       	<td>{{this.members}}</td>
                	<td> 
                		<i class="large green checkmark icon"></i>
                	</td>
	            </tr>
    	        {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
</script>
{{/partial}}

{{> layout.hbs}}