{{#partial "title"}}
<title>{{satellite.name}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
	<div class="ui center aligned inverted segment">
        <form class="ui form" method="GET" action="/consulta">
            <div class="inline fields">
                <div class="twelve wide field">
                    <input placeholder="Nombre del alumno" type="text" name="student">
                </div>
                <div class="two wide field">
                	<div id="search-button" class="ui teal labeled icon button">
						Buscar alumno
    					<i class="search icon"></i>
  					</div>
                </div>
                <div class="two wide field">
                	<div id="add-button" class="ui teal labeled icon button">
						Agregar alumno
    					<i class="add icon"></i>
  					</div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui center aligned inverted segment">
        <h2 class="ui center aligned icon header">
  			<i class="circular student icon"></i>
  			ALUMNOS
		</h2>
        <table class="ui center aligned celled structured table">
            <thead>
	        	<tr>
    	            <th class="ascending" colspan="1">Legajo</th>
        	        <th colspan="1">Nombre y apellido</th>
            	    <th colspan="1">Grupo</th>
                	<th rowspan="1">Asistencia</th>
                	<th rowspan="1">Desempeño</th>
            	</tr>
            </thead>
            <tbody>
            	{{#each alumnos}}
	            <tr>
    	            <td>{{this.numero}}</td>
        	        <td>
        	        	<a href="/alumnos/{{this.id}}">{{this.nombre}}</a>
        	        </td>
            	    <td>{{this.grupo.numero}}</td>
                	<td> 
                		<i class="large green checkmark icon"></i>
                	</td>
	                <td>
	                	<div id="progress-{{this.id}}" class="ui indicating progress">
  							<div class="bar">
  							<div class="progress"></div>
  							</div>
						</div>
	                </td>
    	        </tr>
    	        {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="ui modal">
 	<div class="header">Nuevo alumno</div>
 	<div class="content">
		<form class="ui large form" method="POST" action="/students/new">
			<div class="ui segment">
				<div class="field">
            		<div class="ui left icon input">
                		<i class="user icon"></i>
                    		<input type="text" name="name" placeholder="Nombre y apellido">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="info icon"></i>
                        <input type="text" name="student-number" placeholder="Legajo">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="field">
                	<div class="ui selection dropdown">
  						<input type="hidden" name="group-number">
  						<i class="dropdown icon"></i>
  						<div class="default text">Grupo</div>
						<div class="menu">
							{{#each grupos}}
    						<div class="item" data-value={{this.numero}}>{{this.nombre}}</div>
    						{{/each}}
  						</div>
					</div>
                </div>
        		<input type="submit" class="ui fluid large teal submit button" value="Nuevo">
        	</div>
			{{#if error}}
        		<div class="ui error message visible">{{error}}</div>
    		{{/if}}
		</form>
	</div>		
</div>
<script>
	$(document).ready(function(){
		{{#each alumnos}}
        $('#progress-{{this.id}}').progress({
        	percent: {{this.performance}},	
        	text: {
     		 	active  : 'En progreso',
      		 	success : 'Terminado'
    		}
        });
        {{/each}}
        $("#add-button").click(function(){
        	$('.ui.modal').modal('show');
        });
	});
</script>
{{/partial}}
{{> layout.hbs}}