{{#partial "title"}}
<title>{{satellite.name}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
	<div class="ui center aligned inverted segment">
        <form class="ui form" method="GET" action="/consulta">
            <div class="inline fields">
                <div class="twelve wide field">
                    <input placeholder="Nombre del ejercicio" type="text" name="work">
                </div>
                <div class="two wide field">
                	<div id="search-button" class="ui teal labeled icon button">
						Buscar ejercicio
    					<i class="search icon"></i>
  					</div>
                </div>
                <div class="two wide field">
                	<div id="add-button" class="ui teal labeled icon button">
						Agregar ejercicio
    					<i class="add icon"></i>
  					</div>
                </div>
            </div>
        </form>
    </div>
<div class="ui center aligned inverted segment">
        <h2 class="ui center aligned icon header">
  			<i class="circular book icon"></i>
  			TRABAJOS PRACTICOS
		</h2>
        <table class="ui center aligned celled structured table">
            <thead>
	        	<tr>
    	            <th class="ascending" colspan="1">#</th>
        	        <th colspan="1">Ejercicio</th>
            	    <th colspan="1">Tema</th>
                	<th rowspan="1">Entregados</th>
                	<th rowspan="1">Aprobados</th>
            	</tr>
            </thead>
            <tbody>
            	{{#each students}}
	            <tr>
    	            <td>{{this.id}}</td>
        	        <td>
        	        	{{this.name}}
        	        </td>
            	    <td>{{this.subject}}</td>
                	<td> 
	                	<div id="progress-{{this.id}}" class="ui indicating progress">
  							<div class="bar">
  								<div class="progress"></div>
  							</div>
						</div>
                	</td>
	                <td>
	                	<div id="progress-{{this.id}}" class="ui indicating progress">
  							<div class="bar">
  								<div class="progress"></div>
  							</div>
						</div>
	                </td>
    	        </tr>
    	        {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
</script>
{{/partial}}

{{> layout.hbs}}